[Oo]bj/
[Bb]in/
*.suo
*.user
/TestResults
*.vspscc
*.vssscc
*.pidb
*.userprefs
*.cache
*~
*.swp
*.resharper.user
*.rptproj.user
*.db
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.Publish.xml
UpgradeReport*.*
UpgradeLog*.XML

